<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>gurusewak.com - Front End developer</title>
  <meta name="description" content="Software Engineer. Personal website.">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta property="og:title" content="Gurusewak Kalra - online resume" />
  <meta property="og:url" content="http://gurusewak.com" />
  <meta property="og:site_name" content="Gurusewak Kalra - web developer" />
  <meta property="og:description" content="I'm a self-taught web developer." />
</head>

<body data-display="none">
  <div id="resume">
    <div class="header-container">
      <section class="no-print portrait-mode">
        <p>I am much more interesting in landscape mode (experimental: the full experience is on desktop)!</p>
      </section>
      <header class="wrapper clearfix">
        <h1 class="title">Gurusewak Kalra</h1>
      </header>
    </div>
    <main class="main-container">
      <div class="main wrapper clearfix">
        <aside id="sidebar">
          <h3>Contact me</h3>
          <p>
            <a href="http://gurusewak.com">
              <strong>Portfolio</strong>
              </a>
          </p>
          <p>
            <a class="plain" href="mailto:gurusewak.kalra@gmail.com" target="_blank">
              <strong>Email: gurusewak.kalra@gmail.com</strong>
              </a>
          </p>
          <p>
            <a class="plain" href="tel:+13013325029">
              <strong>Phone: +13013325029</strong>
              </a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/gurusewak1989/" target="_blank">
              <strong>LinkedIn</strong>
              </a>
          </p>
          <p id="printfriendly">I'm printer friendly!</p>
          <section class="print_only">
            <p>
              <a href="#">
                <strong>Location</strong>: Dallas, TX</a>
            </p>
          </section>
          <h3>
              <a id="reopen" href="#">Re-open full version</a>
            </h3>
        </aside>
        <article id="resumeData">
          <section class="list">
            <section id="experience" class="list">
              <h2>Experience</h2>
              <section>
                <h3>
                  <a href="https://myaccount.logmeininc.com" target="_blank">Sr. Software Engineer, LogMeIn Inc.</a>
                </h3>
                <time>Feb 2017 - Present</time>
                <p>
                  <i>Customer Service Platform & Commerce Platform</i>
                </p>
                <h4>Commerce Platform</h4>
                <ul>
                  <li>Lead the UI development efforts across all web applications.</li>
                  <li>Got a chance to work with commerce team to build the new My-Account page on React-Redux tech stack.</li>
                  <li>Solely worked on My-Account page and built it from scratch.</li>
                  <li>Responsible for the Development/Testing/Deployment of the Unified My-Account Page for all the LogMeIn products.</li>
                </ul>
                <h4>Customer Service Platform</h4>
                <ul>
                  <li>Built templates/pages in a way that editorial team can add/edit content and create new pages in the most efficient way possible.</li>
                  <li>After the merger between Citrix-GoTo Family and LogMeIn, I continued to work as a Team Lead for the Customer Care Platform at LogMeIn.</li>
                </ul>
              </section>
              <section>
                <h3>
                  <a href="https://support.logmeininc.com" target="_blank">Sr. Web Developer, Citrix Systems Inc.</a>
                </h3>
                <time>Feb 2016 - Feb 2017</time>
                <p>
                  <i>Self-Help/Self-Service Platform</i>
                </p>
                <ul>
                  <li>Redesigned and rebuilt the Self-Help project with the new technology stack and made the interface cleaner and user-friendly. Primary goal of this project was to migrate corporate CMS from Adobe CQ/AEM to Brightspot CMS.</li>
                  <li>Reorganized content to make it more efficient for customers to find the right answer to their question.</li>
                  <li>Provided a clear path for customers to get assisted help through the community, support agents, and from professional services.</li>
                  <li>Enabled a mobile ready experience for improved support on all types of browsers and devices.</li>
                </ul>
              </section>
              <section>
                <h3>
                  <a href="https://egen.solutions/" target="_blank">Web Developer, Egen Solutions Inc.</a>
                </h3>
                <time>Nov 2014 - Feb 2016</time>
                <p>
                  <i>Employee Portal </i>
                </p>
                <ul>
                  <li>Reconfigured the company’s portal to maximize unity of the company’s online brand.</li>
                </ul>
              </section>
        </article>
      </div>
    </main>
  </div>
  <figure id="loader"></figure>
  <div id="vignette"></div>
  <script>
  if (document.querySelector('[href="styles.css"]')) {
    document.querySelector('[href="styles.css"]').setAttribute('data-skrollr-stylesheet', true);
  }
  </script>
</body>

</html>